<div class="jumbotron">
  <div class="container">
    <h1>Want to Learn About Sharks?</h1>
    <p>Are you ready to learn about sharks?</p>
    <br>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <% if current_user %> 
      <%= link_to "Sign Out", destroy_user_registration_path, method: :delete %>
      <% else %>
      <%= link_to "Sign In", new_user_session_path %>
      <%= link_to  "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>