// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

a {
  background-color: red;
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: white;
}

a.btn{
  color: white;
}
.align-end{
  text-align: end;
}